In [1]:
import os
import cv2

import numpy as np
import pandas as pd

from matplotlib import pyplot as plt

import pickle

from skimage.feature import local_binary_pattern
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

from sklearn.model_selection import train_test_split

In [2]:
def get_lbp_hist(fname):

    # read in imgs, convert to grayscale, and resize
    dim = (600, 800)
    img = cv2.resize(cv2.imread(fname, cv2.IMREAD_GRAYSCALE), dim)
    
    # detect faces
    faces = faceCascade.detectMultiScale(img, scaleFactor=1.2, minNeighbors=8, minSize=(16, 16), flags=cv2.CASCADE_SCALE_IMAGE)
    
    # should be 1 face in image
    if len(faces)!=1:
        # print('len(faces)!=1')
        return None
    else:
        # one face found
        face = faces[0]

    # crop chip
    chip = img[face[1]:face[1]+face[3], face[0]:face[0]+face[2]]
    chip = cv2.resize(chip, (256,256))
    
    # calculate LBP (thanks sklearn!)
    lbp = local_binary_pattern(chip, 3*8, 3, method="nri_uniform")
    
    # get and return histogram
    (hist, _) = np.histogram(lbp.ravel(), bins=np.arange(0, 58))
    return hist

In [3]:
# # # # Don't have to run since data/features/model are already saved.

# faceCascade = cv2.CascadeClassifier('./haarcascade_frontalface_default.xml')

In [4]:
# # # # Don't have to run since data/features/model are already saved.

# # POPULATE POSITIVE_CLASS w/ PHOTOS from PT_and_Ryan
# POSITIVE_CLASS_PT = []
# for r, d, f in os.walk('./data/PT_and_Ryan/PT/'):
#     for file in f:
#         if ('.jpg' in file) | ('.JPG' in file):
#             POSITIVE_CLASS_PT.append(os.path.join(r, file))
# len(POSITIVE_CLASS_PT)

In [5]:
# # # # Don't have to run since data/features/model are already saved.

# # POSITIVE_CLASS_RYAN = []
# for r, d, f in os.walk('./data/PT_and_Ryan/Ryan/'):
#     for file in f:
#         if ('.jpg' in file) | ('.JPG' in file):
#             POSITIVE_CLASS_RYAN.append(os.path.join(r, file))
# len(POSITIVE_CLASS_RYAN)

In [6]:
# # # # Don't have to run since data/features/model are already saved.

# # POPULATE NEGATIVE_CLASS w/ PHOTOS from Others
# NEGATIVE_CLASS = []
# for r, d, f in os.walk('./data/Others/'):
#     for file in f:
#         if ('.jpg' in file) | ('.JPG' in file):
#             NEGATIVE_CLASS.append(os.path.join(r, file))
# import random
# random.shuffle(NEGATIVE_CLASS)
# print(len(NEGATIVE_CLASS))

In [7]:
# # # # Don't have to run since data/features/model are already saved.

# hists_pos_pt = []
# for i, fname in enumerate(POSITIVE_CLASS_PT):
#     print(str(i)+'/'+str(len(POSITIVE_CLASS_PT)))
#     hist = get_lbp_hist(fname, 'POSITIVE')
#     if hist is not None:
#         hists_pos_pt.append(hist)

In [8]:
# # # # Don't have to run since data/features/model are already saved.

# hists_pos_ryan = []
# for i, fname in enumerate(POSITIVE_CLASS_RYAN):
#     print(str(i)+'/'+str(len(POSITIVE_CLASS_RYAN)))
#     hist = get_lbp_hist(fname, 'POSITIVE')
#     if hist is not None:
#         hists_pos_ryan.append(hist)

In [9]:
# # # # Don't have to run since data/features/model are already saved.

# df_pos_pt = pd.DataFrame(hists_pos_pt)
# df_pos_pt['CLASS'] = ['PT']*len(df_pos_pt)
# df_pos_pt.head()

In [10]:
# # # # Don't have to run since data/features/model are already saved.

# df_pos_ryan = pd.DataFrame(hists_pos_ryan)
# df_pos_ryan['CLASS'] = ['Ryan']*len(df_pos_ryan)
# df_pos_ryan.head()

In [11]:
# # # # Don't have to run since data/features/model are already saved.

# hists_neg = []
# for i, fname in enumerate(NEGATIVE_CLASS[0:1000]):
#     print(str(i)+'/'+str(len(NEGATIVE_CLASS)))
#     hist = get_lbp_hist(fname, 'NEGATIVE')
#     if hist is not None:
#         hists_neg.append(hist)

In [12]:
# # # # Don't have to run since data/features/model are already saved.

# df_neg = pd.DataFrame(hists_neg)
# df_neg['CLASS'] = ['Unknown']*len(df_neg)
# df_neg.head()

In [13]:
# with open('df_pos_pt.pkl', 'wb') as f:
#     pickle.dump(df_pos_pt, f)
with open('df_pos_pt.pkl', 'rb') as f:
    df_pos_pt = pickle.load(f)
df_pos_pt.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,CLASS
0,2487,156,17,20,43,23,17,126,17,23,...,24,49,63,56,30,36,21,30,93,PT
1,2484,139,18,17,49,14,22,167,15,17,...,19,54,46,80,33,42,26,59,107,PT
2,2117,129,18,18,40,15,16,161,8,26,...,20,58,43,39,15,36,35,47,75,PT
3,2389,144,18,23,47,25,17,132,18,14,...,15,75,53,58,19,40,31,49,79,PT
4,2213,140,7,15,26,10,14,153,22,13,...,17,61,68,58,20,26,24,30,102,PT

In [14]:
# with open('df_pos_ryan.pkl', 'wb') as f:
#     pickle.dump(df_pos_ryan, f)
with open('df_pos_ryan.pkl', 'rb') as f:
    df_pos_ryan = pickle.load(f)
df_pos_ryan.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,CLASS
0,1916,214,22,18,37,14,29,153,17,20,...,18,65,68,62,20,18,18,33,75,Ryan
1,1779,149,13,29,31,13,15,137,14,16,...,23,50,54,71,24,24,14,34,58,Ryan
2,2619,274,40,21,75,17,33,219,27,16,...,32,50,40,54,29,14,19,43,57,Ryan
3,2087,175,16,14,44,20,22,140,10,25,...,18,73,48,45,20,19,24,35,69,Ryan
4,1656,135,12,15,27,19,19,118,10,13,...,10,91,66,55,19,13,17,39,68,Ryan

In [15]:
# with open('df_neg.pkl', 'wb') as f:
#     pickle.dump(df_neg, f)
with open('df_neg.pkl', 'rb') as f:
    df_neg = pickle.load(f)
df_neg.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,CLASS
0,1647,70,1,15,28,20,6,203,7,34,...,0,24,40,26,4,28,7,106,195,Unknown
1,2707,214,40,21,72,24,56,244,44,22,...,39,58,46,48,31,47,45,76,117,Unknown
2,216,7,0,0,0,3,0,25,1,3,...,0,7,11,4,0,0,0,69,171,Unknown
3,1539,115,14,18,26,16,26,141,22,19,...,19,48,49,61,19,39,29,37,96,Unknown
4,2687,151,42,15,83,25,64,193,50,19,...,33,38,53,39,27,33,20,37,68,Unknown

In [16]:
df_all = pd.concat([df_pos_pt, df_pos_ryan, df_neg])

In [17]:
# Split X, y.
X = df_all.drop('CLASS', axis=1)
y = df_all['CLASS']

In [18]:
# Split data.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [19]:
model = RandomForestClassifier(random_state=0)
model.fit(X_train, y_train)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [20]:
y_pred = model.predict(X_test)

In [21]:
confusion_matrix(y_test,y_pred)

array([[  4,   0,   4],
       [  0,   1,   6],
       [  0,   0, 899]])

In [22]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

          PT       1.00      0.50      0.67         8
        Ryan       1.00      0.14      0.25         7
     Unknown       0.99      1.00      0.99       899

    accuracy                           0.99       914
   macro avg       1.00      0.55      0.64       914
weighted avg       0.99      0.99      0.99       914

In [23]:
with open('rf.pkl', 'wb') as f:
    pickle.dump(model, f)